<!DOCTYPE html>

<html class="no-js"  lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <title>Jiji : Nairobi in Black & White</title>

    <!-- Normalize -->

    <link rel="stylesheet" href="css/assets/normalize.css" type="text/css">

    <!-- Bootstrap -->

    <link href="css/assets/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Font-awesome.min -->

    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Effet -->

    <link rel="stylesheet" href="css/gallery/foundation.min.css"  type="text/css">
    <link rel="stylesheet" type="text/css" href="css/gallery/set1.css" />

    <!-- Main Style -->

    <link rel="stylesheet" href="css/main.css" type="text/css">

    <!-- Responsive Style -->

    <link href="css/responsive.css" rel="stylesheet" type="text/css">

    <!-- paperkit2 -->
    <link rel="stylesheet" href="css/paper-kit.css">
    <link rel="stylesheet" href="css/nucleo-icons.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>

    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->

    <script src="js/assets/modernizr-2.8.3.min.js" type="text/javascript"></script>
</head>

<body>

<!-- header -->

<header id="header" class="header">
    <div class="container-fluid">
        <hgroup>

            <!-- logo -->

            <h1> <a href="index1.html" title="Picxa"><img src="images/logo.png" alt="Picxa" title="Picxa"/></a> </h1>

            <!-- logo -->

            <!-- nav -->

            <nav>
                <div class="menu-expanded">
                    <div class="nav-icon">
                        <div id="menu" class="menu"></div>
                        <p>menu</p>
                    </div>
                    <div class="cross"> <span class="linee linea1"></span> <span class="linee linea2"></span> <span class="linee linea3"></span> </div>
                    <div class="main-menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/blog">blog</a></li>
                            <li><a href="/contact">contact</a></li>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-outline-default btn-round" data-toggle="modal" data-target="#myModal">
                                    tell your story
                                </button>
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- nav -->

        </hgroup>
    </div>
</header>

<!-- header -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/" method="post">
                    <div class="form-group">
                        <label for="photo title">Photo Title</label>
                        <input type="text" class="form-control" name="name" id="photo title" placeholder="Give your story a cool header">
                    </div>
                    <div class="form-group">
                        <label for="image url">Image url</label>
                        <input type="url" class="form-control" name="image" id="image url" placeholder="Image url">
                    </div>
                    <div class="form-group">
                        <label for="caption">Caption</label>
                        <input type="text" class="form-control" name="caption" id="caption" placeholder="Keep it short">
                    </div>
                    <div style="text-align:center;">
                    <button type="submit" class="btn btn-primary btn-round">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
