<% include partials/header %>
      <!-- main-wrapper-inner -->

        	<main class="main-wrapper-inner blog-wrapper" id="container">

            	<div class="container">

                	<div class="wrapper-inner">

                    

                    	<article id="post" class="post">

                        	<figure>

                        		<a href="blog-details.html"><img src="images/blog-image-1.jpg" alt="" class="img-responsive"/></a>

                        	</figure>

                            <section class="inner-left">

                                <span class="date">23 August 2016</span>

                                <p class="cat-pan">in <a href="#">Photography</a>, <a href="#">Creative</a></p>

                            </section>

                            <section class="inner-right">

                            	<header>

                            		<h3><a href="blog-details.html">Best Potrait photography 2016</a></h3>

                                </header>

                            	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat eu nibh ultricies semper. Vivamus porta, felis vitae facilisis sodales, felis est iaculis orci, et ornare sem mauris ut turpis. Pellentesque vitae tortor nec tellus hendrerit aliquam. Donec condimentum leo eu ull pellentesque urna rhoncus.</p>

                                <p>elis est iaculis orci, et ornare sem mauris ut turpis. Pellentesque vitae tortor nec tellus hendrerit aliquam. Donec condimentum leo eu ullamcorper scelerisque pellentes rhoncus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat eu nibh ultricies semper. Vivamus porta, felis vitae facilisis sodales, felis est iaculis orci, et ornare sem mauris ut turpis. Pellentesque vitae tortor nec tellus hendrerit aliquam. Donec condimentum leo eu ull pellentesque urna rhoncus.</p>

                                <p>

elis est iaculis orci, et ornare sem mauris ut turpis. Pellentesque vitae tortor nec tellus hendrerit aliquam. Donec condimentum leo eu ullamcorper scelerisque pellentes rhoncus.</p>

                            </section>

                            <div class="clearfix"></div>

                        </article>

                        

                        <article id="post" class="post">

                        	<figure>

                        		<a href="blog-details.html"><img src="images/blog-image-2.jpg" alt="" class="img-responsive"/></a>

                        	</figure>

                            <section class="inner-left">

                                <span class="date">23 August 2016</span>

                                <p class="cat-pan">in <a href="#">Photography</a>, <a href="#">Creative</a></p>

                            </section>

                            <section class="inner-right">

                            	<header>

                            		<h3><a href="blog-details.html">Top 10 Weeding Photography</a></h3>

                                </header>

                            	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat eu nibh ultricies semper. Vivamus porta, felis vitae facilisis sodales, felis est iaculis orci, et ornare sem mauris ut turpis. Pellentesque vitae tortor nec tellus hendrerit aliquam. Donec condimentum leo eu ull pellentesque urna rhoncus.</p>

                                <p>elis est iaculis orci, et ornare sem mauris ut turpis. Pellentesque vitae tortor nec tellus hendrerit aliquam. Donec condimentum leo eu ullamcorper scelerisque pellentes rhoncus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat eu nibh ultricies semper. Vivamus porta, felis vitae facilisis sodales, felis est iaculis orci, et ornare sem mauris ut turpis. Pellentesque vitae tortor nec tellus hendrerit aliquam. Donec condimentum leo eu ull pellentesque urna rhoncus.</p>

                                <p>

elis est iaculis orci, et ornare sem mauris ut turpis. Pellentesque vitae tortor nec tellus hendrerit aliquam. Donec condimentum leo eu ullamcorper scelerisque pellentes rhoncus.</p>

                            </section>

                            <div class="clearfix"></div>

                        </article>

                        

                        <article id="post" class="post">

                        	<figure>

                        		<a href="blog-details.html"><img src="images/blog-image-3.jpg" alt="" class="img-responsive"/></a>

                        	</figure>

                            <section class="inner-left">

                                <span class="date">23 August 2016</span>

                                <p class="cat-pan">in <a href="#">Photography</a>, <a href="#">Creative</a></p>

                            </section>

                            <section class="inner-right">

                            	<header>

                            		<h3><a href="blog-details.html">Best Female Photographer Template</a></h3>

                                </header>

                            	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat eu nibh ultricies semper. Vivamus porta, felis vitae facilisis sodales, felis est iaculis orci, et ornare sem mauris ut turpis. Pellentesque vitae tortor nec tellus hendrerit aliquam. Donec condimentum leo eu ull pellentesque urna rhoncus.</p>

                                <p>elis est iaculis orci, et ornare sem mauris ut turpis. Pellentesque vitae tortor nec tellus hendrerit aliquam. Donec condimentum leo eu ullamcorper scelerisque pellentes rhoncus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat eu nibh ultricies semper. Vivamus porta, felis vitae facilisis sodales, felis est iaculis orci, et ornare sem mauris ut turpis. Pellentesque vitae tortor nec tellus hendrerit aliquam. Donec condimentum leo eu ull pellentesque urna rhoncus.</p>

                                <p>

elis est iaculis orci, et ornare sem mauris ut turpis. Pellentesque vitae tortor nec tellus hendrerit aliquam. Donec condimentum leo eu ullamcorper scelerisque pellentes rhoncus.</p>

                            </section>

                            <div class="clearfix"></div>

                        </article>



                        

                    </div>

                </div>

            </main>

          <!-- main-wrapper-inner -->
<% include partials/footer %>