<% include partials/header %>
<main class="main-wrapper-inner" id="container">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-2">
                <div class="card card-register card-plain text-center">
                    <h3>Welcome</h3>
                    <form class="register-form" method="POST" action="/login">
                        <label>Username</label>
                        <input type="text" name="username" class="form-control" placeholder="Your Username">

                        <label>Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Your Password">
                        <button class="btn btn-primary btn-block btn-round">Login</button>
                    </form>
                    <div class="forgot">
                        <a href="/register" class="btn btn-link btn-danger">Sign me up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<% include partials/footer %>